
  .container {
    max-width: 1080px;
    overflow: hidden;
    margin: 0 auto
  }
  
  .bricks {
    display: block;
  }
  
  .brick {
    position: relative;
    display: block;
    width: 100%;
    height: 110vh;
  }
  
  .brick__image {
    position: absolute;
    display: block;
    transform: translate(-50%, 0%);
    max-width: 400px; 
  }
  
  #trigger {
    display: block;
    height: 200px;
    width: 100%;
  }