html, body {
    font-family: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    margin-top: 40px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: .8rem;
}

#container p, #container li {
    font-size: 1.1em;
    line-height: 1.2;
    margin-top: 20px;
}

mark {
    background-color: #000;
    color: #fff;
}

a {
    color: #000;
    font-weight: 600;
    text-decoration-color: transparent;
}

a:hover {
    text-decoration: underline;
    transition: all .3s ease;
}